<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=nickname%>님 반갑습니다. 이곳은 게시판 목록을 볼 수 있는 곳입니다.</h1>
    <a href="/home">
        <img src="./img/now_logo.png" alt="로고 사진 입니다.">
    </a>

    <form action="/board/search" method="post">
        게시판 검색:
        <input type="text" name="board_search" id="board_search">
    </form>

    <hr>

    <a href="/newboard">
        게시판추가
    </a>


    <hr>
    <table border="1">
        <tr>
            <th></th>
            <th>게시판 이름</th>
            <th>게시판 설명</th>
        </tr>
       
        <%for(var i = 0; i< title.length; i++) {%>
            <tr>
                <td><%= i+1 %></td>
                <td>
                    <form action="/board/<%= title[i].id%>" method="post">
                        <input type="submit" name="board_title" id="board_title" value="<%= title[i].title %>">
                    </form>
                </td>
                <td><%= title[i].detail %></td>
            </tr>
        <% }; %>   
    </table>
</body>
</html>