<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/profile"><%=nickname%></a>님 반갑습니다. 이곳은 홈화면입니다.
    <a href="/home">
        <img src="./img/now_logo.png" alt="로고 사진 입니다.">
    </a>
    <a href="/board">게시판 목록</a>

    <hr>
    <h1>찜목록</h1>
    <%if(bookmark.length>0) {%>
        <table border="1">
            <tr>
                <%for(var i = 0; i < bookmark.length; i++) {%>
                    <form action="/board/<%= bookmark[i].id%>" method="post">
                        게시판 : <input type="submit" name="board_title" id="board_title" value="<%= bookmark[i].title %>">
                    </form>      
                    <hr>  
                <% } %>                
            </tr>    
        </table>
    <%} else {%>
       즐겨찾기한 게시판이 없습니다!
    <%}%>
    <hr>
    최근 업로드된 게시글 top10(수정 시 업로드에 반영되지 않습니다.)
    <br>
    게시글이 10개 이상이어야 보여집니다...
    <br>
    <hr>
    <%if(list.length>=10) {%>
        <table border="1">
            <tr>
                <%for(var i = 0; i < 10; i++) {%>
                    <form action="/post/<%= list[i].id%>" method="post">
                        제목 : <input type="submit" name="post_title" id="post_title" value="<%= list[i].title %>">
                    </form>        
                    <br>
                    작성자 : <%=list[i].nickname%>
                    <br>
                    게시판 종류 : <%=list[i].board_title%>
                    <hr>
                <% } %>
                
            </tr>    
        </table>
    <%} else {%>
       현재 게시판 수는 <%=list.length%>개 입니다.
       <br>
       top10 업로드 현황을 보려면 <%=10 - list.length%>개의 게시글이 더 필요합니다.
    <%}%>    
</body>
</html>