<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <a href="/home">
          <img src="../img/now_logo.png" alt="로고 사진 입니다.">
     </a>  
     <a href="/post">
          게시글 목록으로 돌아가기
     </a>

     
     <hr>
     현재 사용자 이름 : <%=nickname%>
     <br>
     현재 게시판 : <%=board_title%>
     <hr>
     제목 :  <%=post[0].title%>
     <br>
     내용 :  <%=post[0].content%>
     <br>
     작성시간 : <%=post[0].post_time%>
     <br>
     <%=post[0].id%>번 째 글입니다
     <br>
     <a href="/update">
          수정
     </a>
     <br>
     <a href="/delete">
          삭제
     </a>
     <hr>
     <h1>댓글달기</h1>
     <h3>댓글수 : <%=comment.length%></h3>
     <table border="1">
          <tr>
              <th></th>
              <th>댓글 내용</th>
              <th>댓글 단 사람</th>
          </tr>
         
          <%for(var i = 0; i< comment.length; i++) {%>
              <tr>
                  <td><%= i+1 %></td>
                  <td>
                      <%= comment[i].post_comment%>
                  </td>
                  <td><%= comment[i].nickname%></td>
                  <td>
                       <form action="/deleteComment/<%=comment[i].comment_id%>" method="post">
                         <input type="submit" value="삭제하기">
                       </form>
                  </td>
              </tr>
          <% }; %>   
      </table>
      <br>
     <form action="/comment" method="POST">
          <input type="text" name="comment" id="comment">
          <input type="submit" value="댓글 달기">
     </form>
</body>
</html>