<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/nav.css">
</head>
<body>
    <nav>
        <a href="/home">
            <img src="../img/now_logo.png" alt="로고 사진 입니다.">
        </a>
        <div class="menu">
            <p class="nav-intro">
                <a href="/profile"><%=nickname%>님</a> 이곳은 <%=board_title%>에 적힌 게시글을 볼 수 있는 곳입니다.
            </p>
            <div class="text_menu">
                <a href="/newboard"><h1>게시판 추가</h1></a>
                <form action="/postSearch" method="post" class="search">
                    <input type="text" name="post_search" id="post_search" placeholder="게시글 검색">
                </form>
            </div>
            <a href="/board" class="back">
                목록으로 돌아가기
           </a>
        </div>
    </nav>
    <hr>
    <form action="/bookmark" method="POST" class="bookmark">
        <input type="submit" value="즐겨찾기">
    </form>

    
    <hr>
    <table border="1">
        <tr>
            <th></th>
            <th>게시글 제목</th>
            <th>게시글 번호</th>
            <th>댓글수</th>
            <th>작성자</th>
            <th>작성 시간</th>
        </tr>
        <%var j = 0%>
        <%for(var i = 0; i< post.length; i++) {%>
            <tr>
                <td><%= i+1 %></td>
                <td>
                    <form action="/post/<%= post[i].id%>" method="post">
                        <input type="submit" name="post_title" id="post_title" value="<%= post[i].title %>">
                    </form>
                </td>
                <td><%= post[i].id%></td>
                <% if(j< comment_num.length && post[i].id == comment_num[j].post_id) { %>
                    <td><%= comment_num[j].count %></td>
                    <%j++ %>
                <% } else { %>
                    <td>00</td>
                <% }; %> 
                <td><%= post[i].nickname %></td>
                <td><%= post[i].post_time %></td>>
            </tr>
        <% }; %>   
    </table>
</body>
</html>