<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/profile"><%=nickname%></a>님, 이곳은 <%=board_title%>에 적힌 게시글을 볼 수 있는 곳입니다.
    <a href="/home">
        <img src="../img/now_logo.png" alt="로고 사진 입니다.">
    </a>

    <form action="/postSearch" method="post">
        게시글 검색:
        <input type="text" name="post_search" id="post_search">
    </form>
    <a href="/board">
        게시판목록으로 돌아가기
   </a>

    <hr>
    <a href="/newpost">
        게시글추가
    </a>
    <hr>
    <table border="1">
        <tr>
            <th></th>
            <th>게시글 제목</th>
            <th>작성자</th>
            <th>작성 혹은 수정 시간</th>
        </tr>
       
        <%for(var i = 0; i< post.length; i++) {%>
            <tr>
                <td><%= i+1 %></td>
                <td>
                    <form action="/post/<%= post[i].id%>" method="post">
                        <input type="submit" name="post_title" id="post_title" value="<%= post[i].title %>">
                    </form>
                </td>
                <td><%= post[i].nickname %></td>
                <td><%= post[i].post_time %>/td>
            </tr>
        <% }; %>   
    </table>
</body>
</html>